h1, h2, h3, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

h1 {
    font-size: 36px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 10px 1fr 20px 1fr 10px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.project-screenshot {
    width: 100%;
    border-radius: 0.5em;
    border: 0.2em solid white;
}

.out-links img {
    width: 60px;
    margin-top: 15px;
}

.out-links a {
    margin: 0 10px;
    text-decoration: none;
}

.text-left {
    grid-column: 2;
}

.text-left p {
    max-height: 200px;
}

.content-right {
    grid-column: 4;
    margin-top: 35px;
}

/* Small */
@media screen and (max-width: 675px) {

    .content {
        grid-template-columns: 10px 1fr 10px;
    }

    .text-left {
        grid-column: 2;
        margin-top: -50px;
    }
    
    .content-right {
        grid-column: 2;
        margin-top: 5px;
    }

    .text-left p, .out-links {
        display: none;
    }

    .project-screenshot {
        width: 95%;
    }

    .out-links img {
        width: 40px;
        margin-top: 10px;
    }

    .out-links a {
        margin: 0 5px;
    }
}