/* Mobile Design */
@media screen and (max-width: 900px) {

    /* Footer */

    footer {
        margin-top: 0px;
        flex-direction: column;
    }

    footer a {
        padding: 5px;
    }

    /* Navigation Bar */

    header {
        margin: 0.5em 0.5em;
        grid-template-columns: auto;
    }

    .navbar-icon {
        display: inline;
        width: 2em;
    }

    .navbar-text {
        display: none;
    }

    .home-link {
        display: none;
        visibility: hidden; 
    }

    .topnav {
        margin-left: -2em;
    }

    .topnav a:hover {
        background-color: white;
        color: white;
    }

    /*Welcome Card*/

    .welcome-card-content {
        flex-direction: column;
        align-items: center;
    }

    .welcome-card-photo {
        border: 1em solid #8F3985;
        width: 16em;
        height: 16em;
        object-fit: cover;
        border-radius: 0.25em;
    }

    .welcome-card-text {
        background-color: transparent;
        margin-left: 0;
        padding: 0;
        border-radius: 0;
        margin: 0 2.5em;
        color: black;
    }

    .welcome-card-text h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    .welcome-card-text p {
        text-align: center;
        margin: 0px 1em;
        margin-bottom: 20px;
    }

    /* Intro Cards */
    .introduction-cards {
        grid-column: 3/10;
        display: grid;
        margin-top: 0.25em;    
        grid-template-columns: 1fr;
    }

    .intro-card-text {
        padding: 0.25em 1.5em;
        border-radius: 0.33em;
        margin: 1em 0px;
        color: white;
        width: 100%;
    }

    #creative {
        grid-column: 1;
    }

    #fun {
        grid-column: 1;
    }

    #personal {
        grid-column: 1;
    }

    #sociable {
        grid-column: 1;
    }

    /* Projects Card */
    .projects-card section {
        visibility: hidden;
        display: none;
    }

    .cm-butt-box {
        text-align: center;
        grid-column: 3/11;
        margin-top: 60px;
    }

    .contact-me-home {
        font-size: 1.75em;
        padding: 1.25em;
    }
}

/* Tablet Design */
@media screen and (min-width: 900px) {

    header {
        margin: 0.5em 3.25em;
    }

    .navbar-icon {
        display: none;
    }

    .topnav a:hover {
        background-color: #1B7ECC;
        color: white;
    }

    .cm-butt-box {
        text-align: center;
        margin-top: 100px;
    }

    .contact-me-home {
        font-size: 1.25em;
        padding: 1.65em 2.5em;
    }
}

/* Tablet Design */
@media screen and (max-width: 1100px) {

    #projectsFrame {
        width: 100%;
    }
}