/* General Page */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h1, h2, h3, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Welcome Card */
.welcome-card {
    width: 100%;
    grid-column: 2/12;
    margin-top: 2em;
}

.welcome-card-content {
    display: flex;
}

.welcome-card-photo {
    border: 1em solid #8F3985;
    width: 16em;
    height: 16em;
    object-fit: cover;
    border-radius: 0.33em;
}

.welcome-card-text {
    margin-left: 2em;
    background-color: #1B7ECC;
    padding: 0.75em 2em;
    border-radius: 0.33em;
    color: white;
}

/* Introductions */
.introduction-cards {
    width: 100%;
    grid-column: 2/12;
    margin-top: 2em;     /*   |                                           |     */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.intro-card-text {
    margin-left: 2em;
    background-color: #1B7ECC;
    padding: 0.25em 1.5em;
    border-radius: 0.33em;   
    margin: 1em auto;
    color: white;
    width: 45%;
}

/* Projects Card (Homepage) */
.projects-card {
    width: 100%;
    grid-column: 3/11;
    margin-top: 2em;
    background-color: #1E1E1E;
    color: white;
    padding: 0.25em 1.5em;
    border-radius: 0.33em;   
    margin: 1em auto;
}

.gtp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-card section {
    display: flex;
    align-content: center;
    align-items: center;
}

#projectsFrame {
    border: none;
    background-color: white;
    border-radius: 0.33em;
    height: 500px;
    width: 750px;
}

.project-button {
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.33em;
    text-align: center;
    margin: 1em 1em;
}

.go-to-projects {
    color: white;
    height: 50px;
    width: 50%;
    background-color: #1B7ECC;
    border-color: transparent;
    border-radius: 0.33em;
    text-align: center;
    font-weight: 605;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 1em;
    display: block;
}

.cm-butt-box {
    text-align: center;
    grid-column: 5/9;
    margin-top: 100px;
}

.contact-me-home {
    border-color: transparent;
    background-color: #8F3985;
    color: white;
    text-decoration: none;
    border-radius: 0.33em;
    font-family: 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 610;
    padding: 1em;
    font-size: 3em;
}

.contact-me-home:hover {
    background-color: #1B7ECC;
}