/* Mobile Design */
@media screen and (max-width: 900px) {

    .main-content {
        margin-top: 0px;
    }

    /* Footer */

    footer {
        margin-top: 0px;
        flex-direction: column;
    }

    footer a {
        padding: 5px;
    }

    /* Navigation Bar */

    header {
        margin: 0.5em 0.5em;
        grid-template-columns: auto;
    }

    .navbar-icon {
        display: inline;
        width: 2em;
    }

    .navbar-text {
        display: none;
    }

    .home-link {
        display: none;
        visibility: hidden; 
    }

    .topnav {
        margin-left: -2em;
    }

    .topnav a:hover {
        background-color: white;
        color: white;
    }

    /* This Page */
        
    .project-card-individual:hover {
        transform: scale(1.005);
        box-shadow: 0px 0px 15px rgb(22, 22, 22);
    }

    .card-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5px 1fr;
    }

    .card-content .text-left {
        grid-column: 1;
        grid-row: 1;
        align-self: baseline;
    }

    .card-content .content-right {
        grid-column: 1;
        grid-row: 3;
        margin-top: 0px;
    }

    .project-links {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .project-links a img {
        height: 50px;
        object-fit: cover;
        margin: 0 15px;
    }

    /* CSE 210 Card Specifics */    
    #cse210-title h1 {
        margin-top: 6px;
        font-size: larger;
    } 

    #cse210-title h2 {
        margin-top: -12px;
    }

    /* S.I. Title Specific */
    #si-title {
        margin-top: 6px;
    }

    /* eEq Title Specific */
    #eEq-title {
        font-size: 26px;
    }

}

/* Tablet Design */
@media screen and (min-width: 900px) {

    .main-content {
        margin-top: 30px;
    }

    header {
        margin: 0.5em 3.25em;
    }

    .navbar-icon {
        display: none;
    }

    .topnav a:hover {
        background-color: #1B7ECC;
        color: white;
    }

    /* This Page */

    .card-content {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
    }

    .project-card-individual:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 15px rgb(22, 22, 22);
    }

    .project-links {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .project-links a img {
        height: 60px;
        object-fit: cover;
        margin: 0 20px;
    }

    /* CSE 210 Card Specifics */
    #cse210-title h1 {
        margin-top: 6px;
    } 

    #cse210-title h2 {
        margin-top: -20px;
    }

}